*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mob-L:#9196B4;
    --mob-R:#BA8461;
    --tab-L:#24699E;
    --tab-R:#BA7D6A;
    --PC-L:#48BEEE;
    --PC-R:#C3AFB0;
    --divide-line:#24699E;
    --highlight:#48BEEE;
}

body{
    font-family: 'Open Sans', sans-serif;
    border:2px solid lightseagreen;
}
html{
    border:2px solid purple;
}
#app{
    border:2px solid saddlebrown;
}

/*-----------мобилки: <= 767, Таб 768-1200, ПеКа >= 1201--------*/
/*для ПеКА*/
@media screen and (min-width: 1201px) {
    .for-mobs,.for-tabs{
        display:none;
    }
    #brand-L{
        text-shadow: 0 0 10px var(--PC-L);
    }
    #brand-R{
        text-shadow: 0 0 10px var(--PC-R);
    }
    .nav-icon:hover{
        fill:var(--PC-R);
        transition:0.2s;
    }
    .nav-item:hover{
        color:var(--PC-R);
        transition:0.2s;
    }
}
/*для планш*/
@media screen and (max-width: 1200px) and (min-width:768px){
    .for-mobs,.for-PC{
        display:none;
    }
    #brand-L{
        text-shadow: 0 0 10px var(--tab-L);
    }
    #brand-R{
        text-shadow: 0 0 10px var(--tab-R);
    }
    .nav-icon:hover{
        fill:var(--tab-R);
        transition:0.2s;
    }
    .nav-item:hover{
        color:var(--tab-R);
        transition:0.2s;
    }
}
/*для мобилок*/
@media screen and (max-width: 767px){
    .for-tabs,.for-PC,.not-for-mobs{
        display:none;
    }
    #brand-L{
        text-shadow: 0 0 10px var(--mob-L);
    }
    #brand-R{
        text-shadow: 0 0 10px var(--mob-R);
    }
    .nav-icon:hover{
        fill:var(--mob-R);
        transition:0.2s;
    }
}

/*-----------половинки--------------------------------*/

/*-----------конец половинок--------------------------*/

/*===========header и всё в нём=======================*/
header{
    border: 1px solid green;
    border-bottom: 1px solid var(--divide-line);
    position: relative;
    display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-around;
    width:100%;
    height:85px;
}
nav{
    border: 1px solid magenta;
    display:flex;
        flex-direction:row;
        align-items:center;
        flex-grow: 1;
    height:100%;
}
.nav-icon{
    max-width:100%;
    height:55%; /*от высоты блока NAV*!*/
}

.nav-item,.header-nav-cart{

}

.main-container img.for-mobs{
    width:100%;
}
.main-container img.for-tabs{
    width:50%;
}
.main-container img.for-PC{
    width:50%;
}

.brand-logo{
    flex-grow: 2;
    font-size:2rem;
    font-family: Whipsmart, serif;
    font-weight:600;
    padding:0 20px 0 20px;
}
@font-face {
    font-family:"Whipsmart";
    src:url(./fonts/Whipsmart.ttf) format('truetype');
}

/*-----------корзина----------------------------------*/
.header-nav-cart{
    height:60%; /*от высоты блока NAV*/

}
.cart-icon{
    height:100%; /*от высоты блока .header-nav-cart*/
}
    .cart-icon:hover{
    }

.cart-counter{
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    height: 53%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    z-index: 1;
    text-align: center;
    color:red;
    font-weight:550;
    /*border: 1px solid red;*/
}

/*-----------конец корзины----------------------------*/
/*===========конец header=============================*/


/*-----------кнопки-----------------------------------*/

/*-----------конец кнопок-----------------------------*/


/*-----------подвал-----------------------------------*/
footer{
    padding-left:1%;
    background-color: ghostwhite;
    border-top: 1px solid var(--divide-line);
}

footer li{
    list-style-type: none;
}

/*----------конец подвала------------------------------*/

.colorDiv{
    height:50px;
    width:50px;
}