*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --asphalt:#466880;
    --whiteGold:#F1E3C7;
    --okhra:#D3B58F;
    --rose:#F38C9B;
    --footer:#A69F91;
    --dark:#0F121A;
}




.cart{
    /*border: 1px solid green;*/
    position: relative;
    width: 40px;
    /*display: none;*/
}
.cart-image{
    /*border: 2px solid yellow;*/
    width: 100%;
    display: block;
}

.cart-inner-text{
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    height: 53%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    z-index: 1;
    text-align: center;
    color:var(--okhra);
    font-weight:550;
    /*border: 1px solid red;*/
}










.colorDiv{
    height:50px;
    width:50px;
}
