*{
    margin: 0;
    padding: 0;
}

:root{
    --asphalt:#466880;
    --whiteGold:#F1E3C7;
    --okhra:#D3B58F;
    --rose:#F38C9B;
    --footer:#A69F91;
    --dark:#0F121A;
}


.cart{
    border: 4px solid green;
    display: inline-block;
    display: none;
}
.cart-image{
    border: 2px solid yellow;
}
.cart-amountOfIn{
    border: 1px solid deepskyblue;
}










.colorDiv{
    height:50px;
    width:50px;
}
