<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clothery</title>
        <script src="https://unpkg.com/vue@3.2.20/dist/vue.global.js"></script>
        <script src="https://unpkg.com/vue-router@4"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="items">

    </div>

    <div id="app">
        <div v-for="(item,i) in items">
            <h2>{{item.name.slice(8)}}</h2>
            <h3>Код товара: {{item.id}}</h3>

            <p>Цена:{{item.defaultDisplayedPriceFormatted}}</p>
            <p v-html="item.description"></p>

            <img :src="items[i].thumbnailUrl" alt="medium Product Photo">

            <div v-for="(pic,i) in item.media.images" >
                <img :src="pic.image160pxUrl" alt="medium Product Photo" style="border:1px solid blue">
            </div>

            Доступные размеры:
            <div v-for="size in item.options[0].choices">
                <p>{{size.text}}</p>
            </div>

            <div class="colorDiv" :style="{backgroundColor:getMainColor(item)}"></div>

            <button @click="cart.addToCart({name:item.name.slice(8), price:item.price})">Добавить в корзину</button>

        </div>

        <div class="cart">
            <svg class="nav-icon cart-icon" width="72" height="96" viewBox="0 0 72 96" fill="black" xmlns="http://www.w3.org/2000/svg">
                <path d="M56 24V20C56 8.954 47.046 0 36 0C24.954 0 16 8.954 16 20V24H0V84C0 90.63 5.37 96 12 96H60C66.63 96 72 90.63 72 84V24H56ZM24 20C24 13.373 29.373 8 36 8C42.627 8 48 13.373 48 20V24H24V20ZM64 84C64 86.21 62.21 88 60 88H12C9.79 88 8 86.21 8 84V32H64V84Z" />
            </svg>
            <p class="cart-counter" v-if="cart.totalItems()>0">({{cart.totalItems()}})</p>
        </div>

<!--        <div class="cart">-->
<!--            <img class="cart-icon" src="pics/icons/bag_icon.svg" alt="cart image" >-->
<!--            <p class="cart-inner-text" v-if="cart.totalItems()>0">({{cart.totalItems()}})</p>-->
<!--        </div>-->

    </div>

    <script src="script.js" type="module"></script>
</body>
</html>